@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
}
.burger::before, .burger::after {
  content: "";
}
.burger::before, .burger::after, .burger > span {
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  background: black;
  transition: all 0.8s ease 0s;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger > span {
  top: 50%;
  transform: translate(0, -50%);
}
.burger.active::before {
  top: 9px;
  transform: rotate(45deg);
  transition: all 0.8s ease 0s;
}
.burger.active::after {
  bottom: 9px;
  transform: rotate(-45deg);
  transition: all 0.8s ease 0s;
}
.burger.active > span {
  transform: scale(0);
  transition: all 0.8s ease 0s;
}
@media (max-width: 767px) {
  .burger {
    display: block;
  }
}

body {
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #21243D;
  line-height: 150%;
}
body.lock {
  overflow: hidden;
}
body.pop-lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}
@media (max-width: 876px) {
  .page {
    margin-top: calc(83px + (160 - 83) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .page {
    margin-top: 160px;
  }
}

.container {
  max-width: 856px;
  margin: auto;
}
@media (max-width: 876px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.img {
  position: relative;
}
.img > img, .img iframe, .img video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.title {
  font-weight: 700;
  line-height: 60px;
}
@media (max-width: 876px) {
  .title {
    font-size: calc(30px + (44 - 30) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .title {
    font-size: 44px;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header.hide-header {
  transition: transform 0.3s ease 0s;
  transform: translate(0, -100%);
}
.header.little-big .header__container {
  padding-top: 15px;
  padding-bottom: 15px;
}
.header.little-big::before {
  background: rgba(218, 208, 209, 0.8);
}
.lock .header.little-big::before {
  background: white;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 95;
  transition: all 0.3s ease 0s;
  background: white;
}
.header__container {
  max-width: 1034px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  transition: all 0.3s ease 0s;
}
@media (max-width: 1054px) {
  .header__container {
    max-width: none;
    padding: 0 10px;
  }
}
@media (max-width: 876px) {
  .header__container {
    padding-top: calc(15px + (27 - 15) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .header__container {
    padding-top: 27px;
  }
}
@media (max-width: 876px) {
  .header__container {
    padding-bottom: calc(15px + (27 - 15) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .header__container {
    padding-bottom: 27px;
  }
}
.menu-header__burger {
  z-index: 95;
}
@media (max-width: 767px) {
  .menu-header__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
    background: white;
  }
  .menu-header__body.active {
    left: 0;
    overflow: auto;
  }
}
@media (min-width: calc(767px + 1px)) {
  .menu-header__list {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 95;
    flex-wrap: wrap;
  }
}
@media (min-width: calc(767px + 1px)) and (max-width: 876px) {
  .menu-header__list {
    -moz-column-gap: calc(10px + (33 - 10) * ((100vw - 375px) / (856 - 375)));
         column-gap: calc(10px + (33 - 10) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: calc(767px + 1px)) and (min-width: 876px) {
  .menu-header__list {
    -moz-column-gap: 33px;
         column-gap: 33px;
  }
}
@media (max-width: 767px) {
  .menu-header__list {
    text-align: center;
  }
}
@media (max-width: 767px) and (max-width: 876px) {
  .menu-header__list {
    padding-top: calc(50px + (68 - 50) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (max-width: 767px) and (min-width: 876px) {
  .menu-header__list {
    padding-top: 68px;
  }
}
@media (max-width: 767px) and (max-width: 876px) {
  .menu-header__list > *:not(:last-child) {
    margin-bottom: calc(15px + (25 - 15) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (max-width: 767px) and (min-width: 876px) {
  .menu-header__list > *:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (any-hover: hover) {
  .menu-header__item:hover .menu-header__link {
    color: #FF6464;
  }
}
.menu-header__link {
  font-weight: 500;
  line-height: 145%;
  color: #000000;
  transition: all 0.3s ease 0s;
}
@media (max-width: 876px) {
  .menu-header__link {
    font-size: calc(18px + (20 - 18) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .menu-header__link {
    font-size: 20px;
  }
}
@media (max-width: 767px) and (max-width: 876px) {
  .menu-header__link {
    font-size: calc(35px + (40 - 35) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (max-width: 767px) and (min-width: 876px) {
  .menu-header__link {
    font-size: 40px;
  }
}
.menu-header__link_active {
  color: #FF6464;
}

.footer__container {
  padding: 50px 0;
}
.footer__container > *:not(:last-child) {
  margin: 0 0 26px 0;
}
.footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 876px) {
  .footer__icons {
    gap: calc(30px + (35 - 30) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .footer__icons {
    gap: 35px;
  }
}
.footer__rights {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.hi__container {
  display: flex;
}
@media (max-width: 876px) {
  .hi__container {
    padding-top: calc(0px + (50 - 0) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .hi__container {
    padding-top: 50px;
  }
}
@media (max-width: 876px) {
  .hi__container {
    padding-bottom: calc(59px + (100 - 59) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .hi__container {
    padding-bottom: 100px;
  }
}
@media (max-width: 876px) {
  .hi__container {
    gap: calc(-50px + (115 - -50) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .hi__container {
    gap: 115px;
  }
}
@media (max-width: 767px) {
  .hi__container {
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) and (max-width: 876px) {
  .hi__container {
    gap: calc(20px + (30 - 20) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (max-width: 767px) and (min-width: 876px) {
  .hi__container {
    gap: 30px;
  }
}
.hi__body {
  padding: 10px 0 0 0;
}
@media (min-width: calc(767px + 1px)) {
  .hi__body {
    flex: 1 1 auto;
  }
}
@media (max-width: 767px) {
  .hi__body {
    text-align: center;
  }
}
.hi__title {
  font-weight: 700;
  color: #21243D;
}
@media (max-width: 876px) {
  .hi__title {
    line-height: calc(40px + (60 - 40) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .hi__title {
    line-height: 60px;
  }
}
@media (max-width: 876px) {
  .hi__title {
    font-size: calc(32px + (44 - 32) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .hi__title {
    font-size: 44px;
  }
}
@media (max-width: 876px) {
  .hi__text {
    margin-top: calc(21px + (30 - 21) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .hi__text {
    margin-top: 30px;
  }
}
.hi__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 47px;
  padding: 0 21px;
  text-align: center;
  font-weight: 500;
  line-height: 145%;
  color: #FFFFFF;
  background: #FF6464;
  border-radius: 2px;
  transition: all 0.3s ease 0s;
  border: 1px solid #FF6464;
}
@media (max-width: 876px) {
  .hi__button {
    margin-top: calc(27px + (38 - 27) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .hi__button {
    margin-top: 38px;
  }
}
@media (any-hover: hover) {
  .hi__button:hover {
    background: transparent;
    color: #FF6464;
  }
}
@media (min-width: calc(767px + 1px)) {
  .hi__image {
    flex: 0 0 243px;
    height: 243px;
  }
}
@media (max-width: 767px) {
  .hi__image {
    margin: auto;
  }
}
@media (max-width: 767px) and (max-width: 876px) {
  .hi__image {
    width: calc(174px + (243 - 174) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (max-width: 767px) and (min-width: 876px) {
  .hi__image {
    width: 243px;
  }
}
.hi__image > img {
  max-width: 100%;
}

.posts {
  background: #EDF7FA;
}
@media (max-width: 876px) {
  .posts__container {
    padding-top: calc(10px + (27 - 10) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .posts__container {
    padding-top: 27px;
  }
}
@media (max-width: 876px) {
  .posts__container {
    padding-bottom: calc(10px + (32 - 10) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .posts__container {
    padding-bottom: 32px;
  }
}
@media (max-width: 876px) {
  .posts__container > *:not(:last-child) {
    margin-bottom: calc(10px + (20 - 10) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .posts__container > *:not(:last-child) {
    margin-bottom: 20px;
  }
}
.posts__header {
  display: flex;
}
.posts__title {
  flex: 1 1 auto;
}
@media (max-width: 876px) {
  .posts__title {
    font-size: calc(18px + (22 - 18) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .posts__title {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .posts__title {
    text-align: center;
  }
}
.posts__link {
  color: #00A8CC;
}
@media (max-width: 767px) {
  .posts__link {
    display: none;
  }
}
.posts__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 1fr/1fr 1fr;
}
@media (max-width: 876px) {
  .posts__body {
    gap: calc(17px + (20 - 17) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .posts__body {
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .posts__body {
    -ms-grid-rows: auto auto;
    -ms-grid-columns: 1fr;
        grid-template: auto auto/1fr;
  }
}
.posts__item {
  display: -ms-grid;
  display: grid;
}

.item-posts {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-rows: 1fr auto auto;
  grid-template-rows: 1fr auto auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
}
@media (max-width: 876px) {
  .item-posts {
    padding: calc(10px + (20 - 10) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .item-posts {
    padding: 20px;
  }
}
@media (max-width: 876px) {
  .item-posts > *:not(:last-child) {
    margin-bottom: calc(10px + (15 - 10) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .item-posts > *:not(:last-child) {
    margin-bottom: 15px;
  }
}
.item-posts__title {
  font-weight: 700;
  line-height: 146.1538461538%;
}
@media (max-width: 876px) {
  .item-posts__title {
    font-size: calc(22px + (26 - 22) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .item-posts__title {
    font-size: 26px;
  }
}
.item-posts__line {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: auto 55px auto;
  grid-template-columns: auto 55px auto;
  justify-content: start;
}
.item-posts__separator {
  text-align: center;
}
@media (max-width: 876px) {
  .works__container > *:not(:last-child) {
    margin-bottom: calc(20px + (30 - 20) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .works__container > *:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 876px) {
  .works__container {
    padding-top: calc(20px + (30 - 20) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .works__container {
    padding-top: 30px;
  }
}
@media (max-width: 876px) {
  .works__container {
    padding-bottom: calc(20px + (115 - 20) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .works__container {
    padding-bottom: 115px;
  }
}
.works__container_second {
  padding-top: 0;
}
@media (max-width: 876px) {
  .works__title {
    font-size: calc(18px + (22 - 18) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .works__title {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .works__title {
    text-align: center;
  }
}
.works__title_big {
  font-weight: 700;
  line-height: 60px;
  text-align: left;
}
@media (max-width: 876px) {
  .works__title_big {
    font-size: calc(30px + (44 - 30) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .works__title_big {
    font-size: 44px;
  }
}
@media (max-width: 876px) {
  .works__title_big {
    margin-bottom: calc(17px + (55 - 17) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .works__title_big {
    margin-bottom: 55px;
  }
}
@media (max-width: 876px) {
  .works__body > *:not(:last-child) {
    margin-bottom: calc(15px + (20 - 15) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .works__body > *:not(:last-child) {
    margin-bottom: 20px;
  }
}
.item-works {
  display: flex;
  gap: 18px;
  border-bottom: 1px solid #E0E0E0;
}
@media (max-width: 767px) {
  .item-works {
    flex-direction: column;
  }
}
@media (max-width: 876px) {
  .item-works {
    padding-bottom: calc(15px + (20 - 15) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .item-works {
    padding-bottom: 20px;
  }
}
.item-works__image {
  display: block;
}
@media (min-width: calc(767px + 1px)) {
  .item-works__image {
    flex: 0 0 calc(246 / 856 * 100%);
    padding: 0 0 20% 0;
  }
}
@media (max-width: 767px) {
  .item-works__image {
    padding: 0 0 65% 0;
  }
}
@media (max-width: 876px) {
  .item-works__body > *:not(:last-child) {
    margin-bottom: calc(10px + (15 - 10) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .item-works__body > *:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media (min-width: calc(767px + 1px)) {
  .item-works__body {
    flex: 1 1 auto;
  }
}
.item-works__title {
  display: block;
  font-weight: 700;
  color: #21243D;
}
@media (max-width: 876px) {
  .item-works__title {
    font-size: calc(24px + (30 - 24) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .item-works__title {
    font-size: 30px;
  }
}
@media (max-width: 876px) {
  .item-works__title {
    line-height: calc(30px + (44 - 30) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .item-works__title {
    line-height: 44px;
  }
}
.item-works__line {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 26px;
}
.item-works__data {
  padding: 5px 10px;
  background: #142850;
  border-radius: 16px;
  font-weight: 900;
  font-size: 18px;
  color: #FFFFFF;
}
.item-works__author {
  font-size: 20px;
  line-height: 29px;
  color: #8695A4;
}
@media (max-width: 876px) {
  .blog__container > *:not(:last-child) {
    margin-bottom: calc(17px + (55 - 17) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .blog__container > *:not(:last-child) {
    margin-bottom: 55px;
  }
}
.item-blog {
  border-bottom: 1px solid #E0E0E0;
}
@media (max-width: 876px) {
  .item-blog > *:not(:last-child) {
    margin-bottom: calc(5px + (10 - 5) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .item-blog > *:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media (max-width: 876px) {
  .item-blog {
    padding-bottom: calc(25px + (30 - 25) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .item-blog {
    padding-bottom: 30px;
  }
}
@media (max-width: 876px) {
  .item-blog {
    margin-bottom: calc(18px + (32 - 18) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .item-blog {
    margin-bottom: 32px;
  }
}
.item-blog__title {
  color: #21243D;
  font-weight: 500;
  display: block;
  transition: all 0.3s ease 0s;
}
@media (max-width: 876px) {
  .item-blog__title {
    font-size: calc(26px + (30 - 26) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .item-blog__title {
    font-size: 30px;
  }
}
@media (max-width: 876px) {
  .item-blog__title {
    line-height: calc(38px + (44 - 38) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .item-blog__title {
    line-height: 44px;
  }
}
@media (any-hover: hover) {
  .item-blog__title:hover {
    color: #FF6464;
  }
}
.item-blog__line {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: auto 45px auto;
  grid-template-columns: auto 45px auto;
}
@media (max-width: 876px) {
  .item-blog__data {
    font-size: calc(16px + (20 - 16) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .item-blog__data {
    font-size: 20px;
  }
}
@media (max-width: 876px) {
  .item-blog__data {
    line-height: calc(24px + (29 - 24) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .item-blog__data {
    line-height: 29px;
  }
}
.item-blog__separator {
  text-align: center;
}
.item-blog__place {
  color: #8695A4;
}
@media (max-width: 876px) {
  .item-blog__place {
    font-size: calc(16px + (20 - 16) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .item-blog__place {
    font-size: 20px;
  }
}
@media (max-width: 876px) {
  .item-blog__place {
    line-height: calc(24px + (29 - 24) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .item-blog__place {
    line-height: 29px;
  }
}
@media (max-width: 876px) {
  .design__container > *:not(:last-child) {
    margin-bottom: calc(23px + (54 - 23) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .design__container > *:not(:last-child) {
    margin-bottom: 54px;
  }
}
.design__block > *:not(:last-child) {
  margin: 0 0 25px 0;
}
.design__title {
  font-weight: 700;
}
@media (max-width: 876px) {
  .design__title {
    font-size: calc(30px + (34 - 30) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .design__title {
    font-size: 34px;
  }
}
@media (max-width: 876px) {
  .design__title {
    line-height: calc(40px + (50 - 40) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .design__title {
    line-height: 50px;
  }
}
.design__line {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 17px;
}
@media (max-width: 876px) {
  .design__line > * {
    font-size: calc(18px + (20 - 18) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .design__line > * {
    font-size: 20px;
  }
}
@media (max-width: 876px) {
  .design__line > * {
    line-height: calc(26px + (29 - 26) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .design__line > * {
    line-height: 29px;
  }
}
.design__data {
  padding: 5px 10px;
  background: #FF7C7C;
  border-radius: 16px;
  color: #FFFFFF;
  font-weight: 900;
}
.design__image {
  padding: 0 0 53.74% 0;
}
@media (min-width: calc(767px + 1px)) {
  .design__image {
    width: 681px;
    margin: auto;
  }
}
.headline__title {
  font-weight: 500;
  line-height: 60px;
}
@media (max-width: 876px) {
  .headline__title {
    font-size: calc(26px + (30 - 26) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .headline__title {
    font-size: 30px;
  }
}
.headline__sub-title {
  font-weight: 500;
  line-height: 60px;
}
@media (max-width: 876px) {
  .headline__sub-title {
    font-size: calc(20px + (24 - 20) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .headline__sub-title {
    font-size: 24px;
  }
}
.headline__text {
  color: black;
}
@media (max-width: 876px) {
  .headline__text {
    margin-bottom: calc(25px + (30 - 25) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .headline__text {
    margin-bottom: 30px;
  }
}
.headline__image {
  padding: 0 0 53.74% 0;
}
@media (min-width: calc(767px + 1px)) {
  .headline__image {
    width: 681px;
    margin: auto;
  }
}
@media (max-width: 876px) {
  .headline__image:not(:last-child) {
    margin-bottom: calc(25px + (30 - 25) * ((100vw - 375px) / (856 - 375)));
  }
}
@media (min-width: 876px) {
  .headline__image:not(:last-child) {
    margin-bottom: 30px;
  }
}